<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      .ng-hide{display: none}
      .ng-show{display: block}
    </style>

    
    <script src="/node_modules/angular/angular.js"></script>
  
   
    <script src="/node_modules/angular-resource/angular-resource.js"></script>
    <script src="/node_modules/angular-route/angular-route.js"></script>
 <script src="/node_modules/angular-cookies/angular-cookies.js"></script>
    <script src="/app/app.module.js"></script>
    <script src="/app/app.config.js"></script>  
    <script src="/app/core/core.module.js"></script>
   
    <script src="/app/core/establishment/establishment.module.js"></script>
    <script src="/app/core/establishment/establishment.service.js"></script>
    <script src="/app/establishment-list/establishment-list.module.js"></script>
    <script src="/app/establishment-list/establishment-list.component.js"></script>
    <script src="/app/establishment-login/establishment-login.module.js"></script>
    <script src="/app/establishment-login/establishment-login.component.js"></script>
  </head>
  <body>

    {{{body}}}

  </body>
</html>